.invite {
  padding-bottom: 20px;
  @media (min-width: 768px) {
    font-size: 24px;
  }
}
.link {
  text-decoration: none;
  color: inherit;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
  @media (min-width: 768px) {
    font-size: 24px;
  }
}
