:root {
  --main--bg-color: rgb(11, 4, 43);
  --main--bgTr-color: rgba(11, 4, 43, 0.8);

  --main--bgTtDark-color: rgba(213, 245, 244, 0.6);
  --second--bgTr-color: rgba(118, 139, 139, 0.7);

  --second--bg-dark-color: rgb(7, 3, 26);
  --second--bg-light-color: rgb(238, 236, 248);
  --main-color: black;
  --main-light-color: #beb9b9;
  --second-color: rgb(6, 6, 248);
  --accent-color: darkblue;
  --second-text-color: #d5f5f4;
  --input-color: #768b8b;
  --complete-input-color: #191b1b;
  --animation-mode: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
html {
  scroll-behavior: smooth;
}
body {
  color: var(--second-text-color);
  min-height: 100vh;
  min-width: 100vw;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.23;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}
